<section ng-controller="AboutController">
  <div class="container">
    <div class="row col-lg-12 text-center">
      <h1>About</h1>
      <div>
          <img class="logo" src="/images/poster_small.jpg" alt="My_Poster">
      </div>
      <div>
        <h2>Hello, my name is George Brewster.</h2>
        <p>I am a Programmer Analyst living in West Palm Beach, FL.
          <br>I graduated with a Bachelor's of Science in Computer Science
          <br>from the University of Florida.
        </p>
      </div>
      <div>
        <img class="logo" width="240" height="160" src="/images/florida-gators-logo.png" alt="My_Gators_logo2">
      </div>
      <div>
        <h2>I work on an EMS & SCADA Support team in renewable energy.</h2>
        <p>My team onboards energy plants into a SCADA system for Energy Management Services,</p>
        <p>as well as support the power marketing business in reliability and compliance.</p>
      </div>
      <div>
        <img class="logo" width="240" height="160" src="/images/Scada.png" alt="My_Gators_logo2">
      </div>
      <div>
        <h2>I was born and raised in Palm Beach Gardens, Florida,</h2>
        <p>where we would frequent the local parks, beaches, and skateparks.</p>
      </div>
      <div>
        <img class="logo" width="240" height="160" src="/images/pbg.png" alt="My_Gators_logo2">
      </div>
    </div>
    <!--
    <h1>Career Summary</h1>

    <h1>Skills and Certifications</h1>
    <h1>Experience</h1>
    <h1>Freelance Projects</h1>
    <h1>Side Projects</h1>
    <h1>Education</h1>
    <h1>Testimonials</h1>
    <h1>Community</h1>
    <h1></h1>
    -->
  </div>
</section>
