<section ng-controller="AboutController">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="text-center">About</h1>
        <div class="col-lg-12 text-center">
            <img class="logo" src="http://localhost:3000/images/poster_small.jpg" alt="My_Initials">
        </div>
        <h2>Hello! I was born and raised in Palm Beach Gardens, Florida,</h2>
        <p>where we would frequent the local parks, beaches, and skateparks.
          <div class="col-lg-12 text-center">
            <img class="logo  center" width="240" height="160" src="http://localhost:3000/images/florida-gators-logo.png" alt="My_Gators_logo">
        </div>



        </p>
      </div> 
    </div>
    <!--
    <h1>Career Summary</h1>
    <h1>Skills and Certifications</h1>
    <h1>Experience</h1>
    <h1>Freelance Projects</h1>
    <h1>Side Projects</h1>
    <h1>Education</h1>
    <h1>Testimonials</h1>
    <h1>Community</h1>
    <h1></h1>
    -->
  </div>  
</section>