<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="../../../../public/lib/bootstrap/dist/css/bootstrap.min.css">
<!--  <link rel="stylesheet" href="../css/about.css"> -->
</head>
<body>
<section ng-controller="AboutController">
  <div class="col-xs-12">
    <h1>About</h1>
    <p>I am a Programmer Analyst with a Bachalor's of Science in Computer Science from the University of Florida.</p>
    <p>I </p>
  </div>
  <div class="col-xs-12">
    <!--
PONG with html5 and js
by George Brewster
04/07/2018
Based on the video and class:
https://youtu.be/KoWqdEACyLI
"Code your first game: Arcade classic in JavaScript on Canvas"
This tutorial was fun and confidence boosting!!!
-->

<canvas id="gc" width="640" height="480"></canvas>
<script>
p1y=p2y=40;
pt=10;
ph=100;
bx=by=50;
bd=5;
xv=yv=4;
score1=score2=0;
ais=2;
gameover=false;
max=10;
window.onload=function(){
    c=document.getElementById('gc');
    cc=c.getContext('2d');
    setInterval(update,1000/30);
    c.addEventListener('mousemove',function(e){
      p1y = e.clientY-ph/2;
    });
}
function checkscore(){
  if(score1 == max || score2 == max){
    gameover = true;
    bx = 0;
    by = 0;
    xv = 0;
    yv = 0;
    ais=0;
    p2y=c.height/2;
    return;
  }else{
    reset();
  }
}
function reset(){
  bx = c.width/2;
  by = c.height/2;
  xv = -xv;
  yv = 3;
}
function update(){
  bx += xv;
  by += yv;
  if(by<0 && yv<0){
    yv=-yv;
  }
  if(by>c.height && yv>0){
    yv=-yv;
  }
  if(bx<0){
    if(by>p1y && by<p1y+ph){
      xv=-xv;
      dy=by-(p1y+ph/2);
      yv=dy*0.3;
    }else{
      score2++;
      checkscore();
    }
  }
  if(bx>c.width){
    if(by>p1y && by<p2y+ph){
      xv=-xv;
      dy=by-(p2y+ph/2);
      yv=dy*0.3;
    }else{
      score1++;
      checkscore();
    }
  }
  if(p2y+ph/2<by){
    p2y+=ais;
  }else{
    p2y-=ais;
  }
  cc.fillStyle='black'
  cc.fillRect(0,0,c.width,c.height);
  cc.fillStyle='white';
  cc.fillRect(0,p1y,pt,ph);
  cc.fillRect(c.width-pt,p2y,pt,ph);
  cc.fillRect(bx-bd/2,by-bd/2,bd,bd)
  cc.fillText(score1,100,100);
  cc.fillText(score2,c.width-100,100);
  cc.fillText("This is PONG with HTML5 and JS, first to 10 wins!", c.height/3, c.width/2);
  if(gameover){
    cc.fillText("GAME OVER!!! Hit close!", c.height/3, c.width/6);
  }
}
</script>
  </div>
</section>
</body>


