<section ng-controller="HomeController">
  <br>
  <div class="col-lg-12 jumbotron text-center">
    <div class="row text-center">
      <img class="logo" width="157.75" height="67" src="/images/gtb.png" alt="My_Initials">
    </div>
    <div class="row text-center">
      <img class="logo" width="120" height="79.85" src="/images/florida-gators-logo.png" alt="My_Gators_logo">
    </div>
    <div class="row text-center">
      <p>
        <a class="btn btn-primary btn-lg" href="http://google.com" target="_blank">Google</a>
      </p>
    </div>
    <div class="row text-center">
      <p>
        <a class="btn btn-primary btn-lg" ui-sref="about">About</a>
      </p>
    </div>
  </div>




  <div class="well">
    <h2>MEAN.JS Documentation</h2>
    <p>
      Once you're familiar with the foundation technology, check out the MEAN.JS Documentation:
      <ul>
        <li><a target="_blank" href="http://meanjs.org/docs.html">MEAN.JS Documentation</a>
        </li>
        <li><a target="_blank" href="http://meanjs.org/generator.html">Yeoman Generator</a>
				</li>
        <li><a target="_blank" href="http://meanjs.org/modules.html">Modules</a>
        </li>
        <li><a target="_blank" href="http://meanjs.org/changelog.html">Changelog</a>
        </li>
        <li><a target="_blank" href="http://meanjs.org/community.html">Community</a>
        </li>
        <li><a target="_blank" href="http://blog.meanjs.org">Blog</a>
        </li>
      </ul>
    </p>
  </div>
  <br>Enjoy my portfolio,
  <br>George Brewster.

</section>
<!--
PONG with html5 and js
by George Brewster
04/07/2018
Based on the video and class:
https://youtu.be/KoWqdEACyLI
"Code your first game: Arcade classic in JavaScript on Canvas"
This tutorial was fun and confidence boosting!!!
-->
<!DOCTYPE HTML>
<html>
  <head>
    <script>
    p1y=p2y=40;
    pt=10;
    ph=100;
    bx=by=50;
    bd=5;
    xv=yv=4;
    score1=score2=0;
    ais=2;
    gameover=false;
    max=10;
    window.onload=function(){
        c=document.getElementById('gc');
        cc=c.getContext('2d');
        setInterval(update,1000/30);
        c.addEventListener('mousemove',function(e){
          p1y = e.clientY-ph/2;
        });
    }
    function checkscore(){
      if(score1 == max || score2 == max){
        gameover = true;
        bx = 0;
        by = 0;
        xv = 0;
        yv = 0;
        ais=0;
        p2y=c.height/2;
        return;
      }else{
        reset();
      }
    }
    function reset(){
      bx = c.width/2;
      by = c.height/2;
      xv = -xv;
      yv = 3;
    }
    function update(){
      bx += xv;
      by += yv;
      if(by<0 && yv<0){
        yv=-yv;
      }
      if(by>c.height && yv>0){
        yv=-yv;
      }
      if(bx<0){
        if(by>p1y && by<p1y+ph){
          xv=-xv;
          dy=by-(p1y+ph/2);
          yv=dy*0.3;
        }else{
          score2++;
          checkscore();
        }
      }
      if(bx>c.width){
        if(by>p1y && by<p2y+ph){
          xv=-xv;
          dy=by-(p2y+ph/2);
          yv=dy*0.3;
        }else{
          score1++;
          checkscore();
        }
      }
      if(p2y+ph/2<by){
        p2y+=ais;
      }else{
        p2y-=ais;
      }
      cc.fillStyle='black'
      cc.fillRect(0,0,c.width,c.height);
      cc.fillStyle='white';
      cc.fillRect(0,p1y,pt,ph);
      cc.fillRect(c.width-pt,p2y,pt,ph);
      cc.fillRect(bx-bd/2,by-bd/2,bd,bd)
      cc.fillText(score1,100,100);
      cc.fillText(score2,c.width-100,100);
      cc.fillText("This is PONG with HTML5 and JS, first to 10 wins!", c.height/3, c.width/2);
      if(gameover){
        cc.fillText("GAME OVER!!! Hit close!", c.height/3, c.width/6);
      }
    }
    </script>
  </head>
  <body>
    <canvas id="gc" width="640" height="480"></canvas>
  </body>
</html>
