<section ng-controller="HomeController">
  <br>
  <div class="jumbotron text-center">
    <div class="row text-center">
      <p class="lead">
        Hello, my name is George Brewster.
        <br> I am a Programmer Analyst living in West Palm Beach, FL.
        <br>I have a Bachelor's of Science in Computer Science degree 
        <br>from the University of Florida.
      </p>
    </div>
    <div class="row">
      <p>
        <a class="btn btn-warning btn-lg" href="http://google.com" target="_blank">Google</a>
      </p>
    </div>
    <div class="row">
      <p>
        <a class="btn btn-warning btn-lg" href="/about" target="_blank">About</a>
      </p>
    </div>
  </div>
  <div>
    <h2>I work on an EMS & SCADA Support team in renewable energy.</h2>
    <p>My team onboards energy plants into a SCADA system for Energy Management Services,</p>
    <p>as well as support the power marketing business in reliability and compliance.</p>
  </div>
  <div class="well">
    <h2>MEAN.JS Documentation</h2>
    <p>
      Once you're familiar with the foundation technology, check out the MEAN.JS Documentation:
      <ul>
        <li><a target="_blank" href="http://meanjs.org/docs.html">MEAN.JS Documentation</a>
        </li>
        <!-- <li><a target="_blank" href="http://meanjs.org/generator.html">Yeoman Generator</a>
				</li> -->
        <li><a target="_blank" href="http://meanjs.org/modules.html">Modules</a>
        </li>
        <li><a target="_blank" href="http://meanjs.org/changelog.html">Changelog</a>
        </li>
        <li><a target="_blank" href="http://meanjs.org/community.html">Community</a>
        </li>
        <li><a target="_blank" href="http://blog.meanjs.org">Blog</a>
        </li>
      </ul>
    </p>
  </div>
  <br>Enjoy my portfolio,
  <br>George Brewster.
</section>
